.content {
  padding-top: 195rpx;
  .content_1 {
    .content_1_1 {
      width: 750rpx;
      background: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 26rpx;
      padding-top: 32rpx;
      padding-bottom: 32rpx;
      box-sizing: border-box;
      border-bottom: 1rpx solid #f6f6f6;
      .content_1_1_1 {
        display: flex;
        justify-content: space-between;
        .content_1_1_1_1 {
          font-size: 26rpx;
          font-family: PingFang SC;
          font-weight: 500;
          color: #1c1c1c;
          line-height: 1;
        }
        .content_1_1_1_2 {
          font-size: 26rpx;
          font-family: PingFang SC;
          font-weight: bold;
          color: #ff644d;
          line-height: 1;
        }
      }
      .content_1_1_2 {
        font-size: 22rpx;
        font-family: PingFang SC;
        font-weight: 400;
        color: #9e9e9e;
        line-height: 1;
        margin-top: 16rpx;
        display: flex;
        justify-content: space-between;
      }
      .content_1_1_3 {
        font-size: 22rpx;
        font-family: PingFang SC;
        font-weight: 400;
        color: red;
        margin-top: 16rpx;
      }
    }
  }
}
